ipykernel
python-dotenv
docling
google-genai
faiss-cpu
qdrant-client
langchain
langchain-community
langchain-qdrant
langchain-text-splitters
rank_bm25
sentence-transformers
streamlit
langfuse
ragas
langchain-google-vertexai
rapidfuzz
